@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --grey-100: #f1f1f1;
  --grey-200: #c5c5c5;
  --grey-300: #a8a8a8;
  --grey-400: #8b8b8b;
  --grey-500: #6e6e6e;
  --grey-600: #525252;
  --grey-700: #383838;
  --grey-800: #292929;
  --grey-900: #151515;
  --secondary-100: #eafcf9;
  --secondary-200: #c0f6ee;
  --secondary-300: #97f0e2;
  --secondary-400: #6dead6;
  --secondary-500: #2ee1c5;
  --secondary-600: #25b49e;
  --secondary-700: #1c8776;
  --secondary-800: #0e433b;
  --secondary-900: #051614;
  --bw-black: #000;
  --bw-white: #fff;
  scroll-behavior: auto
}